@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Open Sans', sans-serif;
    color:#5c3fff;

}
h3.categories{
    font-weight: light;
    color: #e76333;
    font-size: 1.5em;
}

a {
    text-decoration:none;
    color:#5c3eee;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5c3fff;
    border-radius:2px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}
a.button:hover, input[type="submit"]:hover {
    background:#fafafa;
    border-radius:2px;
    border: 1px solid #e76333;
    color:#e76333;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:18px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(even) {
    background:rgb(245, 245, 245);
}

tbody tr.subtotal {
    background:rgb(255, 139, 86);
}

thead th, tbody tr.total {
    background:#e76333;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:18px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}


#header {
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#fafafa;
    color:#5c3eee;
    padding:20px 100px;
    overflow:auto;
}

a.logo {
    color:#5c3eee;
    font-size:2em;
    margin-right:2rem;
    display: inline;
    justify-content: space-around;
}

#subheader .cart {
    color: #5c3eee;
    float:right;
    display:flex;
    padding-top:4px;
    text-transform: uppercase;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#ff6f00;
    border-radius:2px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#000007;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    /* padding:0 20px 20px 0; */
    margin:2rem;
    box-shadow: 0px 2px 4px;
    background-size: cover;
    background-position: center;
}
.product-detail img:hover {
    width:50%;
    cursor:zoom-in;
}
hr{
    color:#5c3eee;
    opacity:0.5;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}
.product-detail input{
    background:#5c3eee;
    color:#fffffa;
    text-transform: capitalize;
    border : 1px solid #fff;
}
.product-detail input:hover{
    background:#fafafa;
    color:#000007;
    border: 1px solid #e76333;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#fafafa;
    padding:10px 20px;
    color:#000007;
    border-bottom:4px solid #e76333;
    box-shadow: 0px 4px 8px #e76333;
}

.order-info h3 {
    color:#e76333;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
.product_name{
    color:#e76333;
}

h1.shopping-cart{
    color:#5c3fff;
    text-transform: capitalize;
    font-weight: lighter;
}
#id_first_name, #id_last_name, #id_email, #id_address, #id_postal_code, #id_city{
    border-bottom:2px solid #e76333;
    background:#fff;
    border-radius:0px ;
    padding: 0.5em;
}
.order-form > p{
    color:#000007;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
